# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


Client/.vs/
Client/X-MACHINA/build/
Client/X-Engine/x64/
Client/X-MACHINA/lib/Debug/X-Engine.lib
Client/X-MACHINA/lib/Release/X-Engine.lib

Client/X-MACHINA/shaders/cso/
*.pdb
*.idb
*.command